html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #042331;
    transition: all .5s;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063140;
    user-select: none;

}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 10px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255.1);
    border-bottom: 1px solid black;
    transition:.4s;
}

ul li:hover{
    padding-left: 50px;
    transition:.4s;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    
}

#check:checked ~ .sidebar{
    left: 0;

}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
    margin-left: 250px;
}

section{
    background: url() no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

.h1{
    text-align: center; 
}


body{
    display: inline-block;
    box-sizing: border-box;
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: auto;
}

.container {
    width: 1500px;
    height: 1000px;
    margin: auto;
    background-color: #212121;  
}

h1{
    width: 1500px;
    height: 100px;
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
    font-size: 30px ;
    box-shadow: 5px 5px 2px rgb(208, 208, 208);

}

.welcome{
    float: right;
    margin-right: 20px;
}


h1 img {
    margin-left: 15px;
    float: left;
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

h1 p {
    float: left;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;

}

h2{
    background-color:black ;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: white;
}

h3{

    line-height: 25px;
}


.dapri {
    background-color: white;
    width: 400px;
    height: 600px;   
    float: left;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 5px 2px rgb(208, 208, 208);
}

.dapri p{
    margin-left: 5px;
    margin-top: 10px;
    line-height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.data{
    width: 300px;
    height: 300px;
    font-size: 16px;
    margin-left: 30px;
}


.contact{
    margin: 10px;
    line-height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    
}

.contact h3{
    background-color:black ;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    line-height: 20px;
    margin-left: -30px;
    margin-right: -30px;
}


.pend {
    background-color: white;
    width: 500px;
    height: 200px;
    float: left;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgb(208, 208, 208);

}

.table{
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 450px;
    height: 150px;
    margin-left: 40px;
}

.table img{
    
    background-color: black;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 15px;
}



.funfact{
    background-color: white;
    width: 500px;
    height: 200px   ;
    float: left;
    margin-left: 30px;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
    box-shadow: 5px 5px 2px rgb(208, 208, 208);
}

.text{
    margin-left: 10px;
    margin-right: 10px;

}

.hobi{
    background-color: white;
    width: 1030px;
    height: 500px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 15px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
    box-shadow: 5px 5px 2px rgb(208, 208, 208);

}

.hobii{
    width: 1030px;
    display: flex;
    justify-content: center;
    
}

.turu{
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}

.turu img{
    width: 150px;
    height: 150px;
}

.emel{
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

.emel img{
    width: 150px;
    height: 150px;
}

.renang{
    width: 300px;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
}

.renang img{
    width: 150px;
    height: 150px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    margin-top: 20px;
}


.icons{
    display: flex;
    width: 200px;
    height: 80px;
    margin: auto;
}

.find{
    text-align: center;
    word-spacing: 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.icons a{

    display: block;
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    transition: .5s;    

}

.icons a:hover{
    color: rgb(25, 0, 255);
    width: 50px;
    height: 20px;
    text-shadow: 5px white;
    transform: scale(1.6);
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}